/* Clear browser spaces */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: darkblue;
  text-decoration: none;

  &.active,
  &:active {
    text-decoration: underline;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.top-navigation {
  padding: 15px 0;
  background-color: #fafafa;
  border-bottom: 1px solid #f2f2f2;
  .list-container {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    .list-item {
      padding: 0 15px;
      font-weight: bolder;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.Shop-items {
  .categories-list {
    margin-top: 1.5rem;
    .category-item {
      margin-bottom: 7px;
      .collapse-trigger {
        padding: 0.6rem 1rem;
        width: 100%;
        background: #f4f4f4;
        border-radius: 6px;

        &:after {
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }
    }

    .products-list {
      .product-item {
        border-bottom: 1px solid #ccc;
        padding: 0.6rem 1rem;

        .price-container {
          padding: 8px;
          border-radius: 6px;

          a {
            color: #333;
          }

          &.price-red {
            background: #f75959;
            a {
              color: white;
            }
          }
          &.price-green {
            background: #5faf64;
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
